<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=7"/>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>inCar PM center</title>
    <META content="" name="keywords">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/css/public.css"/>
    <link rel="stylesheet" href="/css/newPublic.css"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/angular-multi-select-master/isteven-multi-select.css">
    <base href="/index.html"/>
</head>
<body ng-controller="indexGitCtrl " class="ng-cloak" style="background-color: #F2F6F9;">
<div ng-hide="myLogin" >
  <div style="background: url('images/index-top-bg.jpg');">
     <div ><img style="margin-left: 10%;height: 70px" src="/images/index-logo.png" alt="" />
       <div style="float: right;padding-right: 10%;padding-top: 10px"><span >Welcome:</span>
     <a style="margin-right: 30px;" ng-bind="user.username"></a>
      <img style="cursor:pointer;right: 15%" src="/images/loginOut.png" alt=""  ng-click="deletecookie()"/>
       </div>
     </div>
  </div>
    <div style="clear:both;"></div>
<div class="container1" id="main" role="main">
    <ul class="menu">



        <li class="active"><a href="#">项目</a>
            <ul class="submenu">
                <li><a href="/gitHubApi/repositoryList">所有项目</a></li>
                <li><a href="/gitHubApi/addRepository">新建项目</a></li>
            </ul>
        </li>
        <li><a href="#">统计分析</a>
            <ul class="submenu">
                <li><a href="/gitHubApi/week">统计——周粒度</a></li>
                <li><a href="/gitHubApi/month">统计——月粒度</a></li>
                <li><a href="gitHubApi/quarter">统计——季粒度</a></li>
                <li><a href="gitHubApi/year">统计——年粒度</a></li>
            </ul>
        </li>

        <li><a href="#">帮助</a></li>
        <!--<li><a href="#">标签</a>-->
            <!--<ul class="submenu">-->
                <!--<li><a href="/gitHubApi/label/addLabel">添加标签</a></li>-->
                <!--<li>-->
                    <!--<a href="#" ng-click="bt(1)">标签列表</a>-->

                    <!--<div ng-show="myLabel">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<select ng-model="repository" ng-options="item.name for item in repository1"-->
                                        <!--ng-change="modifyDiv(repository.name)">-->
                                    <!--<option value="">选择仓库</option>-->
                                <!--</select>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="#">里程碑</a>-->
            <!--<ul class="submenu">-->
                <!--<li><a href="/gitHubApi/addMilestone">添加里程碑</a></li>-->
                <!--<li>-->
                    <!--<a href="#" ng-click="bt(2)">里程碑列表</a>-->

                    <!--<div ng-show="myMilestone">-->
                        <!--<ul>-->
                            <!--<li>-->
                                <!--<select ng-model="repository" ng-options="item.name for item in repository1"-->
                                        <!--ng-change="modifyDiv2(repository.name)">-->
                                    <!--<option value="">选择仓库</option>-->
                                <!--</select>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->

        <!--<li><a href="#">Issue</a>-->
            <!--<ul class="submenu">-->
                <!--<li><a href="/gitHubApi/addIssue">添加Issue</a></li>-->
            <!--</ul>-->
        <!--</li>-->

    </ul>

</div>
    <div ng-view style="width: 80%;margin: 0 auto;background-color: #FFFFFF"></div>
</div>

</body>
<!--==========我是JS的分隔线~=====================================================================-->

<script data-main="/scripts/appGit.js" src="/lib/requirejs/require.min.js"></script>


</html>