<!DOCTYPE html>
<html>
<head>
        <meta http-equiv="X-UA-Compatible" content="IE=7"/>
        <META http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>导航条</title>
        <META content="" name="keywords">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
        <meta http-equiv="expires" content="0">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" href="/css/mycss.css"/>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">
        <script src="/lib/jquery/dist/jquery.min.js"></script>
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/lib/angular-resource/angular-resource.js"></script>
        <script src="/viewGit/loginCtrl.js"></script>
        <base href="/login.html"/>
</head>
<body ng-app="LoginApp">
<div ng-controller="loginCtrl" class="wrapper" >

        <div class="wrapper">
                <div class="content" style="position:relative;">
                        <div id="form_wrapper" class="form_wrapper" style="position:absolute;top:120px;left:30%;">
                                <form class="login active">
                                        <h3>登录</h3>
                                        <div>
                                                <label for="userName">用户名:</label>
                                                <input type="text" id="userName" paceholder="请输入用户名" ng-model="userAccount.username"/>
                                                <span class="error">This is an error</span>
                                        </div>
                                        <div>
                                                <label for="password">密码:</label>
                                                <input type="password" id="password" placeholder="请输入密码" ng-model="userAccount.password"/>
                                                <span class="error">This is an error</span>
                                        </div>
                                        <div class="bottom">
                                                <div class="remember"><input type="checkbox" /><span>记住密码</span></div>
                                                <input type="submit" value="登录" ng-click="loginMgr(userAccount)"/>
                                                <div class="clear"></div>
                                        </div>
                                </form>

                        </div>
                        <div class="clear"></div>
                </div>

        </div>

</div>
</body>

</html>